<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.verbalassistant"> //Declares an Android XML namespace so that android understands the tags. Names the package verbalassiatant(should match the one in MainActivity)

    <uses-permission android:name="android.permission.INTERNET"/> //Gives our app internet permission(so HTTP request and POST requests work) //Android blocks internet by default

    <application
        android:allowBackup="true"
        android:label="Verbal Assistant"  // appname shown on the phone
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"> //controls app theme(change later)
//application tag – defines default app setting, that apply to the entire app.
        <activity android:name=".MainActivity"> // THIS CLASS IS ONE OF MY SCREENS(EVERY ANDROID SCREEN = ACTIVITY)
            <intent-filter> // what starts the app
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
// this is the screen to open when the app is launched. Without this, the app installs but doesn’t open.
        </activity>
    </application>

</manifest> 
AndroidManifest.xml  
